custom/zsh

vim/backups
vim/view
*un~
vim/.netrwhist
vim/tmp
vim/spell
vim/after/.vimrc.after
vim/.vundles.local
vim/.vundles.local.bak
vim/bundle
.swp
vim/bundle.bak
vim/sessions
.netrwhist
bin/subl
tags
.env
vim/backups/*
powerline/segments/np_mpd
powerline/segments/xkb_layout
powerline/*.swp

# ignore all themes, only default.sh
powerline/themes/*
powerline/!themes/default.sh
Would skip repository bash/prezto/modules/history-substring-search/external
Would skip repository bash/prezto/modules/syntax-highlighting/external
Would skip repository bin/gzn/prezto/
config/
tmux/tmux-powerlinerc
vim/autoload/
vim/bundle.bak.tgz
